<section class="text-center">
  <div class="swiper-container carrousel-container mx-auto">
    <div class="swiper-wrapper">
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>



<!--Script pour le carrousel-->
<script>

  const projets = [
    {
      id: 1,
      titre: 'Jeu de mémoire',
      description: 'Projet de programmation JS en duo pour créer un jeu de mémoire, renforçant les compétences en résolution de problèmes et en travail d\'équipe.',
      image: '/images/cartes.jpg'
    },
    {
      id: 2,
      titre: 'SAPAR',
      description: 'Travail de conception graphique final réalisé en utilisant Figma pour créer une compagnie fictive. Expérience valorisante de conception, mettant en valeur les compétences en créativité et en design d\'interface utilisateur.',
      image: '/images/figma.jpg'
    },
    {
      id: 3,
      titre: 'Prise de besoin',
      description: 'Un travail en équipe de trois sur un projet fictif de contrat de prestation d\'offre de service, valorisant le développement de compétences clés en communication, négociation et travail d\'équipe.',
      image: '/images/contrat.jpg'
    },
    {
      id: 4,
      titre: 'Projet Pokedex',
      description: 'Projet Next.js avec une liaison à une API existante pour afficher des informations sur les Pokémon.',
      image: '/images/pokedex.jpg'
    },
    {
      id: 5,
      titre: 'Projet Snippets',
      description: 'Un projet de gestion de code snippets pour les développeurs.',
      image: '/images/snippets.png'
    },
    {
      id: 6,
      titre: 'API et React',
      description: 'Un projet Next.js avec une API pour gérer les ventes de produits fictifs en ligne.',
      image: '/images/ventes.jpg'
    },
    {
      id: 7,
      titre: 'À venir',
      description: 'Qui sait ce que m\'attend!',
      image: '/images/idk.jpg'
    }
  ];

  const swiperWrapper = document.querySelector(".swiper-wrapper");

  projets.forEach((projet, index) => {
    const slide = document.createElement("div");
    slide.className = "swiper-slide";
    slide.style.backgroundImage = `url(${projet.image})`; // Définition de l'image de fond

    const content = `
  <div>
    <a href="/portfolio/${projet.id}">
      <div class="card-body-carrousel">
        <a href="/portfolio/${projet.id}">
          <h5 class=" projet-titre">${projet.titre}</h5>
        </a>
        <p class="description">${projet.description}</p>
      </div>
    </a>
  </div>
`;

    slide.innerHTML = content;
    swiperWrapper.appendChild(slide);
  });

  var swiper = new Swiper(".swiper-container", {
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "2",
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 2,
      slideShadows: true
    },
    keyboard: {
      enabled: true
    },
    spaceBetween: 10,
    loop: false,
    mousewheel: {
      enabled: true,
      releaseOnEdges: true,
      sensitivity: 1
    }
  });
</script>