<section class="mb-5 mt-5">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 p-3">
          <h1 class="description">Mes couleurs préférées, on sait jamais, ça peut être bon à savoir</h1>
        </div>
        <div class="col-md-6 p-3">
          <div id="colorWheel">
            <span class="color01"></span>
            <span class="color02"></span>
            <span class="color03"></span>
            <span class="color04"></span>
            <span class="color05"></span>
            <span class="color06"></span>
            <span class="color07"></span>
            <span class="color08"></span>
            <span class="color09"></span>
            <span class="color10"></span>
          </div>
        </div>
      </div>
    </div>
  </section>