<section>
    <div class="container mt-5">
        <div class="card p-3">
            <div class="row">
                <div class="col-md-6 p-3">
                    <h1 class="h1-title display-4">Welcome</h1>
                    <h2 class="h2-title">to my portfolio!</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 p-3">
                <p>
                    Soon to be graduated from Cégep Garneau in web development, I am in search of knowledge and skills
                    to become an accomplished professional.
                    <br>
                    I am passionate about creating interactive and functional websites to offer the best possible
                    experience.
                    <br>
                    My goal is to continue to evolve in this exciting field and contribute to the creation of innovative
                    projects.
                </p>
            </div>
            <div class="col-md-6 p-3">
                <div class="bg-danger text-center text-light">
                    <p>
                        Next.js portfolio is coming soon!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <p class="text description">Here's what I've been up to recently</p>
        </div>
    </div>
</section>