<section>
    <div class="container mt-5">
        <div class="card p-3">
            <div class="row">
                <div class="col-md-6 p-3">
                    <h1 class="h1-title">Welcome</h1>
                    <h2 class="">to my portfolio!</h2>
                </div>
            </div>
        </div>
    </div>
  
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 p-3">
                <p>
                    Soon to be graduated from Cégep Garneau in web development, I am someone in search of knowledge and skills to become a accomplished professional.
                    <br>
                    I am passionate about creating interactive and functional websites to offer the best possible experience.
                    <br>
                    My goal is to continue to evolve in this exciting field and contribute to the creation of innovative projects.
                </p>
            </div>
            <div class="col-md-6 p-3">
                <div style="background-color: #aa3c3c; padding: 20px;">
                    <p>
                        Please note that this portfolio site is not currently made with the recent technologies that I have learned.
                        It is presented for demonstration purposes and this site is not responsive (good visibility on mobile).
                        A better portfolio is coming soon. Lack of time is catching up with me with homework!
                    </p>
                </div>
            </div>
        </div>
    </div>
  
    <div class="container mt-5">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <p class="text description">Here's what I've been up to recently</p>
        </div>
    </div>
  </section>
  