<section>
    <div class="container mt-5">
      <div class="card p-3">
        <div class="row">
          <div class="col-md-6 p-3">
            <h1 class="h1-title">Bienvenue</h1>
            <h2 class="">sur mon portfolio!</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 p-3">
          <p>
            Bientôt diplômé du Cégep Garneau en développement web, je suis quelqu'un en quête de connaissances et de
            compétences pour devenir un professionnel accompli.
            <br>
            Je suis passionné par la création de sites web interactifs et fonctionnels pour offrir la meilleure
            expérience possible.
            <br>
            Mon objectif est de continuer à évoluer dans ce domaine passionnant et de contribuer à la création de
            projets innovants.
          </p>
        </div>
      </div>
    </div>
    
    <div class="container mt-5">
      <div class="container d-flex align-items-center justify-content-center">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
        <p class="text description">Voici ce que j'ai fait récemment</p>
      </div>
    </div>
  </section>