<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">My Projects</h2>
        <p class="text-center">Please note that these websites may take a few moments to load completely.</p>
    </div>
</div>