<section class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">My Recent Projects</h2>
            <p class="text-center">Please note that these sites may take a few moments to load completely.</p>
        </div>
    </div>
</section>