<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

  <body style="background-color: #f8f8f8;">

    <%- include('includes/navigation.ejs') %>

      <div class="container-fluid p-5">
        <div class="row justify-content-center text-center">
          <div class="col-md-6">
            <h1 class="display-4 mb-4">404 - Page Not Found</h1>
            <p class="lead mb-5">Sorry, the page you are looking for could not be found.</p>
            <a href="/" class="btn btn-primary">Back to Homepage</a>
          </div>
        </div>
      </div>

      <%- include('includes/footer.ejs') %>

  </body>

</html>