<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>
    body {
      font-family: 'Montserrat', sans-serif;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: brightness(0.5); /* Carte sombre par défaut */
      width: 31.33%;
      display: inline-block;
      margin: 10px;
      transition: filter 0.3s, background-color 0.3s;
      pointer-events: auto;
      position: relative;
      border-radius: 20px;
      z-index: 1; /* Carte en avant-plan */
    }

    .swiper-slide:not(.swiper-slide-active) {
      filter: brightness(0.5) blur(2px); /* Légèrement flou et sombre pour les cartes en arrière-plan */
      pointer-events: none;
    }

    .swiper-slide:hover {
      filter: brightness(1); /* Pas de sombre, clair au survol */
      background-color: #007BFF; /* Couleur de fond */
    }

    .swiper-slide a {
      color: #fff;
      text-decoration: none;
    }

    .titres {
      text-transform: uppercase;
      color: #1b7402; /* Couleur douce pour les titres */
      background: #fff;
      padding: 7px 18px 7px 25px;
      display: inline-block;
      border-radius: 0 20px 20px 0px;
      letter-spacing: 2px;
      font-weight: bold;
    }

    .description {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

    .card-body-carrousel {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      border-radius: 20px;
    }

    .btn-container {
      display: flex;
      justify-content: flex-end;
    }

    .btn {
      background-color: #007BFF;
      color: #fff;
      padding: 5px 15px;
      border-radius: 5px;
      margin-top: 10px;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary border border-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Raphaël Doucet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- JavaScript insérera les diapositives ici -->
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <footer class="fixed-bottom">
    <div class="card text-center">
      <div class="card-body align-items-end">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
              <h4>Liens sociaux</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="https://www.instagram.com/raphdoucet_44/" target="_blank">Instagram</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/raphael.doucet.39/" target="_blank">Facebook</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/raphaëldoucet/" target="_blank">LinkedIn</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4>Menu</h4>
              <ul class="list-unstyled">
                <li><a href="/">Accueil</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4>Contactez-moi</h4>
              <ul class="list-unstyled">
                <li><a href="tel:123-456-7890">418-518-0913</a></li>
                <li>
                  <a href="mailto:raphael120701@gmail.com">raphael120701@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12">
              <p>Mis à jour 2023-11-05</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    const projets = [
      {
        id: 1,
        titre: 'Jeu de mémoire',
        description: 'Projet de programmation JS en duo pour créer un jeu de mémoire, renforçant les compétences en résolution de problèmes et en travail d\'équipe.',
        image: '/images/cartes.jpg'
      },
      {
        id: 2,
        titre: 'Travail final Figma',
        description: 'Travail de conception graphique final réalisé en utilisant Figma pour créer une compagnie fictive. Expérience valorisante de conception, mettant en valeur les compétences en créativité et en design d\'interface utilisateur.',
        image: '/images/figma.jpg'
      },
      {
        id: 3,
        titre: 'Contrat d\'offre de service',
        description: 'Un travail en équipe de trois sur un projet fictif de contrat de prestation d\'offre de service, valorisant le développement de compétences clés en communication, négociation et travail d\'équipe.',
        image: '/images/contrat.jpg'
      },
      {
        id: 4,
        titre: 'Projet Pokedex',
        description: 'Projet Next.js avec une liaison à une API existante pour afficher des informations sur les Pokémon.',
        image: '/images/pokedex.jpg'
      },
      {
        id: 5,
        titre: 'Projet Snippets',
        description: 'Un projet de gestion de code snippets pour les développeurs.',
        image: '/images/snippets.png'
      },
      {
        id: 6,
        titre: 'Projet Ventes de Produits fictif',
        description: 'Un projet Next.js avec une API pour gérer les ventes de produits fictifs en ligne.',
        image: '/images/ventes.jpg'
      }
  ];

    const swiperWrapper = document.querySelector(".swiper-wrapper");

    projets.forEach((projet, index) => {
      const slide = document.createElement("div");
      slide.className = "swiper-slide";
      slide.style.backgroundImage = `url(${projet.image})`; // Définition de l'image de fond

      const content = `
        <div class="card-carrousel">
          <a href="/portfolio/${projet.id}">
            <div class="card-body-carrousel">
              <a href="/portfolio/${projet.id}">
                <h5 class="titres">${projet.titre}</h5>
              </a>
              <p class="description">${projet.description}</p>
              <div class="btn-container">
                <a class="btn" href="/portfolio/${projet.id}>En savoir plus</a>
              </div>
            </div>
          </a>
        </div>
      `;

      slide.innerHTML = content;
      swiperWrapper.appendChild(slide);
    });

    var swiper = new Swiper(".swiper-container", {
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 100,
        modifier: 2,
        slideShadows: true
      },
      keyboard: {
        enabled: true
      },
      mousewheel: {
        thresholdDelta: 70
      },
      spaceBetween: 10,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      }
    });
  </script>

</body>
</html>
