.swiper-slide {
    display: flex;
    background-color: #ae0c05; /* Couleur de fond de la moitié droite de la carte */
    border-radius: 20px;
    overflow: hidden;
    transition: filter 0.3s;
    position: relative;
    width: 60%; /* Modifiez cette valeur en fonction de la largeur souhaitée */
}


.swiper-slide:hover {
    filter: brightness(1);
}

.image-container {
    flex: 2;
  }

  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
  }

.text-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projet-titre {
    font-size: 4rem;
    font-weight: 600;
    position: absolute;
    bottom: -1rem;
    left: 85%;
    transform: translateX(-50%);
    width: 100%;
}

.description_project,
.technologies,
.resultats-personnels {
    font-size: 1rem;
    align-items: flex-start;
}

.card-body-carrousel {
    height: 400px;
    display: flex;
}
.title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #111; /* Couleur du titre */
}