#colorWheel {
    -webkit-animation: intro 10s linear infinite;
    animation: intro 10s linear infinite;
    /* Ajout de la propriété standard */
    height: 100px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-origin: 50px 150px;
    -moz-transform-origin: 50px 150px;
    -ms-transform-origin: 50px 150px;
    -o-transform-origin: 50px 150px;
    transform-origin: 50px 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border: 10px solid #111;
  }
  
  #colorWheel span {
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* Ajout de la propriété standard */
    border-style: solid;
    border-width: 150px 50px;
    box-sizing: border-box;
    border-radius:4%;
  }
    #colorWheel span.color01 {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      border-color: #B47956 transparent transparent transparent;
    }
    #colorWheel span.color02 {
      -webkit-transform: rotate(36deg);
      -moz-transform: rotate(36deg);
      -ms-transform: rotate(36deg);
      -o-transform: rotate(36deg);
      transform: rotate(36deg);
      border-color: #B47956 transparent transparent transparent;
    }
    #colorWheel span.color03 {
      -webkit-transform: rotate(72deg);
      -moz-transform: rotate(72deg);
      -ms-transform: rotate(72deg);
      -o-transform: rotate(72deg);
      transform: rotate(72deg);
      border-color: #D4C4B1 transparent transparent transparent;
    }
    #colorWheel span.color04 {
      -webkit-transform: rotate(108deg);
      -moz-transform: rotate(108deg);
      -ms-transform: rotate(108deg);
      -o-transform: rotate(108deg);
      transform: rotate(108deg);
      border-color: #D4C4B1 transparent transparent transparent;
    }
    #colorWheel span.color05 {
      -webkit-transform: rotate(144deg);
      -moz-transform: rotate(144deg);
      -ms-transform: rotate(144deg);
      -o-transform: rotate(144deg);
      transform: rotate(144deg);
      border-color: #485838 transparent transparent transparent;
    }
    #colorWheel span.color06 {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      border-color: #485838 transparent transparent transparent;
    }
    #colorWheel span.color07 {
      -webkit-transform: rotate(216deg);
      -moz-transform: rotate(216deg);
      -ms-transform: rotate(216deg);
      -o-transform: rotate(216deg);
      transform: rotate(216deg);
      border-color: #497C9F transparent transparent transparent;
    }
    #colorWheel span.color08 {
      -webkit-transform: rotate(252deg);
      -moz-transform: rotate(252deg);
      -ms-transform: rotate(252deg);
      -o-transform: rotate(252deg);
      transform: rotate(252deg);
      border-color: #497C9F transparent transparent transparent;
    }
    #colorWheel span.color09 {
      -webkit-transform: rotate(288deg);
      -moz-transform: rotate(288deg);
      -ms-transform: rotate(288deg);
      -o-transform: rotate(288deg);
      transform: rotate(288deg);
      border-color: #CCD6F4 transparent transparent transparent;
    }
    #colorWheel span.color10 {
      -webkit-transform: rotate(324deg);
      -moz-transform: rotate(324deg);
      -ms-transform: rotate(324deg);
      -o-transform: rotate(324deg);
      transform: rotate(324deg);
      border-color: #CCD6F4 transparent transparent transparent;
    }
    #colorWheel:before {
      content: "";
      width: 300px;
      height: 300px;
      overflow: hidden;
      position: absolute;
      top: -30px;
      left: -130px;
      border-radius: 100%;
      z-index: 100;
    }
    
    #colorWheel:after {
      content: "";
      width: 100px;
      height: 100px;
      overflow: hidden;
      position: absolute;
      top: 100px;
      left: 0px;
      border-radius: 100%;
      background: #111;
    }
    
    @keyframes intro {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }