body {
  font-family: 'Montserrat', sans-serif;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5); /* Carte sombre par défaut */
  width: 31.33%;
  display: inline-block;
  margin: 10px;
  transition: filter 0.3s, background-color 0.3s;
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  z-index: 1; /* Carte en avant-plan */
}

.swiper-slide:not(.swiper-slide-active) {
  filter: brightness(0.5) blur(2px); /* Légèrement flou et sombre pour les cartes en arrière-plan */
  pointer-events: none;
}

.swiper-slide:hover {
  filter: brightness(1); /* Pas de sombre, clair au survol */
  background-color: #007BFF; /* Couleur de fond */
}

.swiper-slide a {
  color: #fff;
  text-decoration: none;
}

.titres {
  text-transform: uppercase;
  color: #1b7402; /* Couleur douce pour les titres */
  background: #fff;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-weight: bold;
}

.description {
min-height: 87px;
margin: 0 0 25px;
overflow: hidden;
font-weight: bold;
font-size: px;
color: #FFF;
z-index: 2;
position: relative;
}

.card-body-carrousel {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #007BFF;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
}