body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111111;
    color: #fff;
    overflow-x: hidden;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
}

.content-inner {
    padding-top: 100vh;
}

.navbar {
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    transition: width 0.3s ease-out;
} 

.navbar:hover::before {
    width: 100%;
}

.navbar a.navbar-brand,
.navbar a.nav-link {
    color: #fff !important;
}

section {
    min-height: 30rem;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.card {
    background-color: #111;
    margin-top: 20px;
}

.card h2 {
    font-size: 36px;
    font-weight: bold;
}

.card p {
    color: #fff;
    font-size: 18px;
}

footer {
    margin-top: auto;
}

footer .list-unstyled a {
    color: inherit; /* Couleur de texte par défaut */
    text-decoration: none; /* Supprimer le soulignement par défaut */
    transition: color 0.3s ease; /* Animation de transition pour la couleur */
}

footer .list-unstyled a:hover {
    color: #ffffff; /* Changer la couleur au survol (blanc dans cet exemple) */
}

footer .list-unstyled,
footer .card {
    color: #fff;
}

footer .row {
    justify-content: center;
}

footer .col-md-4 {
    text-align: center;
} 

.description {
    overflow: hidden;
    font-weight: 600;
    font-size: 32px;
    color: rgb(255, 255, 255);
    z-index: 2;
    position: relative;
}

.h1-title {
    font-size: 90px;
}

#cursor-tracker {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.2s ease;
    z-index: 1000;
}

.text-smaller {
    font-size: 1.5rem;
}

::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #111; /* Couleur de fond de la piste */
}

::-webkit-scrollbar-thumb {
    background-color: #f1f1f1; /* Couleur de la poignée de la scrollbar */
}

.custom-card-img {
    height: 25rem; /* Définir la hauteur fixe souhaitée */
    object-fit: cover; /* Pour maintenir les proportions de l'image */
}
